<launch>
  <include file="$(find vs060_moveit_config)/launch/demo.launch">
     <arg name="use_kinect" value="false" />
     <arg name="use_rviz" default="false" />
     <arg name="mode" value="simulation" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" respawn="true"
	args="-d $(find denso_robot_moveit_config)/launch/moveit.rviz" output="screen">
    <rosparam command="load" file="$(find denso_robot_moveit_config)/config/kinematics.yaml"/>
  </node>

  <node name="spawn_cage" pkg="vs060_moveit_config" type="irex_demo_noteaching.py" />
</launch>
