<launch>
  <node pkg="robot_self_filter" type="self_filter" respawn="true" name="kinect_self_filter" output="screen">
    <remap from="cloud_in" to="/camera/depth_registered/points" />
    <remap from="cloud_out" to="/camera/depth_registered/filtered_points" />
                               
    <rosparam>
       min_sensor_dist: .05
       self_see_default_padding: .01
       self_see_default_scale: 1.0
       self_see_links:
         - name: base_link
           padding: 0.0
         - name: J1
           padding: 0.0
         - name: J2
           padding: 0.0
         - name: J3
           padding: 0.0
         - name: J4
           padding: 0.0
         - name: J5
           padding: 0.0
         - name: J6
           padding: 0.0
    </rosparam>
  </node>
</launch>
