<?xml version="1.0"?>
<robot name="dual_manipulator_with_frame" xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:include filename="$(find denso_dual_gazebo)/urdf/vs087_81.xacro"/>
<xacro:include filename="$(find denso_dual_gazebo)/urdf/vs087_82.xacro"/>

    <gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/dual_manipulator</robotNamespace>
		</plugin>
	</gazebo>

    <link name="base_link"/>

        <joint name="world_joint" type="fixed">
            <axis xyz="0 0 0"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <parent link="base_link"/>
            <child link="frame"/>
        </joint>

    <link name="frame">

        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://denso_dual_gazebo/models/frame.dae"/>
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://denso_dual_gazebo/models/frame.dae"/>
            </geometry>
        </collision>

        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="100"/>
            <inertia ixx="1"  ixy="0"  ixz="0" iyy="1" iyz="0" izz="1"/>
        </inertial>

    </link>

    <xacro:vs087_1 parent="frame" origin_x="-0.5" origin_y="-0.05" origin_z="1.9" roll="3.14" pitch="0" yaw="-1.57"/>
    <xacro:vs087_2 parent="frame" origin_x="0.5" origin_y="-0.05" origin_z="1.9" roll="3.14" pitch="0" yaw="-1.57"/>

    <gazebo reference="frame">
        <selfCollide>false</selfCollide>
    </gazebo>

</robot>
