<launch>
  <arg name="use_rviz" default="true" />
  <include file="$(find vs060_moveit_config)/launch/demo.launch">
     <arg name="use_kinect" value="false" />
     <arg name="use_rviz" value="$(arg use_rviz)" />
     <arg name="mode" value="simulation" />
  </include>
  <node pkg="vs060_moveit_config" type="publish_simple_scene.py"
        name="publish_simple_scene" output="screen" />
</launch>
