<launch>
  <!-- By default we do not overwrite the URDF. Change the following to true to change the default behavior -->
  <arg name="load_robot_description" default="false"/>

  <!-- The name of the parameter under which the URDF is loaded -->
  <arg name="robot_description" default="robot_description"/>

  <!-- The name of robot which is loaded from URDF -->
  <arg name="robot_name" default="vs060"/>
  <arg name="robot_options" default="vs060"/>

  <!-- Load universal robot description format (URDF) -->
  <param if="$(arg load_robot_description)" name="$(arg robot_description)"
	 textfile="$(find denso_robot_descriptions)/vs060_description/$(arg robot_options)/vs060.urdf"/>

  <!-- The semantic description that corresponds to the URDF -->
  <param name="$(arg robot_description)_semantic" textfile="$(find vs060_moveit_config)/config/$(arg robot_options)/vs060.srdf" />
  
  <!-- Load updated joint limits (override information from URDF) -->
  <group ns="$(arg robot_description)_planning">
    <rosparam command="load" file="$(find vs060_moveit_config)/config/$(arg robot_options)/joint_limits.yaml"/>
  </group>

  <!-- Load default settings for kinematics; these settings are overridden by settings in a node's namespace -->
  <group ns="$(arg robot_description)_kinematics">
    <rosparam command="load" file="$(find vs060_moveit_config)/config/$(arg robot_options)/kinematics.yaml"/>
  </group>
  
</launch>
