<launch>
  <arg name="robot" default="vs068a4av6w4n"/>
  
  <param name="robot_description" command="$(find xacro)/xacro $(find denso_robot_descriptions)/$(arg robot)_description/urdf/$(arg robot).urdf.xacro"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find denso_robot_descriptions)/launch/default.rviz" required="true" />
</launch>
