<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Override conn_type argument -->
  <arg name="conn_type" default="tcp" />

  <!-- Override ip_address argument -->
  <arg name="ip_address" default="192.168.0.1" />

  <include file="$(find bcap_service)/launch/bcap_service.launch.xml">
    <arg name="conn_type" value="$(arg conn_type)" />
    <arg name="ip_address" value="$(arg ip_address)" />
  </include>

  <node pkg="bcap_service" type="bcap_service_exec" name="bcap_service" output="screen" />
</launch>
