<?xml version="1.0"?>
<robot name="vs087" xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- <xacro:include filename="$(find denso_robot_descriptions)/vs087_description/vs087/vs087.urdf.xacro"/> -->
  <xacro:include filename="$(find denso_robot_descriptions)/vs087_description/vs087_and_robotiq/vs087_and_robotiq.urdf.xacro"/>
  <xacro:include filename="$(find kinect_bringup)/urdf/sensor/kinect.urdf.xacro"/>
  <xacro:include filename="$(find kinect_bringup)/urdf/sensor/kinect.gazebo.xacro"/>

  <!-- add Kinect V2 -->
  <!-- kinect_center -->
  <!-- Link -->
  <xacro:kinect2_link_box_v0 name="kinect_center_link"/>
  <link name="kinect_center_rgb_optical_frame"/>

  <!-- Joint -->
  <joint name="joint_kinect_center" type="fixed">
    <!-- <origin xyz="1.2297 0.1072 0.4985" rpy="-0.0047 0.5886 3.098" />> -->
    <!-- <origin xyz="0.8567 0.0762 0.9535" rpy="-0.0338 0.8795 3.0507" /> -->
    <origin xyz="0.8834 0.0504 0.9911" rpy="-0.0078 0.6452 -3.1362" />
    <parent link="world"/>
    <child link="kinect_center_link"/>
  </joint>

  <joint name="joint_rgb_kinect_center" type="fixed">
    <origin rpy="${M_PI/2} ${M_PI} ${M_PI/2}"/>
    <parent link="kinect_center_link"/>
    <child link="kinect_center_rgb_optical_frame"/>
  </joint>

  <!-- Gazebo -->
  <xacro:kinect_gazebo name="kinect_center"/>

</robot>
